@page "/flights"

<style>
    .maincontent
    {
        background-color:lightblue;
        margin:1em;
        display: flex;
        flex-direction:column;
    }
    .top
    {
        background-color:lightgoldenrodyellow;
        display: flex;
        flex-direction:row;
    }
    .reserve > form > input
    {
        float:right;

    }
    .reserve > form > label
    {
        text-align:right;
        margin-right:.5em;
    }
    .bottom
    {
        background-color:lightpink;
        display:flex;
        padding:1em;
    }
    h3
    {
        text-align:center;
    }

    .flights
    {
        display: flex;
        flex-grow: .6;
        height: 70%;
        background-color: green;
    }

    .reserve
    {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 70%;
    }

    .flightfinder
    {

    }

</style>
<div class="maincontent">
    <div class="top">
        <div class="flights">
            <h3>Flights</h3><br>
            <p>Flight 1</p><br>
            <p>Flight 2</p>
        </div>

        <div class="reserve">
            <h3>Reserve</h3>
            <form>
                <label for="flight">Flight:</label>
                <input type="text" name="flight"/><br />

                <label for="airline">Airline:</label>
                <input type="text" name="airline" /><br />

                <label for="day">Day:</label>
                <input type="text" name="day" /><br />

                <label for="time">Time:</label>
                <input type="text" name="time" /><br />

                <label for="cost">Cost:</label>
                <input type="text" name="cost" /><br />

                <label for="name">Name:</label>
                <input type="text" name="name" /><br />

                <label for="citizenship">Citizenship:</label>
                <input type="text" name="citizenship" /><br />

                <button>Reserve</button>
            </form>            
        </div>
    </div>
    <div class="flightfinder">
        <h3>Flight Finder</h3>
        <form>
            <label for="from">From:</label>
            <select name="from">
                <option value="yyc">YYC</option>
            </select>

            <label for="to">To:</label>
            <select name="to">
                <option value="yyc">YYC</option>
            </select>

            <label for="day">Day:</label>
            <select name="day">
                <option value="any">Any</option>
            </select>

            <button>Find Flights</button>
        </form>
    </div>
</div>


@code {

}
