@page "/reservations"

<style>

</style>
<div class="maincontent">
    <div class="top">
        <div class="reservations">
            <h3>Reservations</h3><br/>
            <p>Flight 1</p><br/>
            <p>Flight 2</p>
        </div>

        <div class="reserve">
            <h3>Reserve</h3>
            <form>
                <label for="code">Code:</label>
                <input type="text" name="code" /><br />

                <label for="flight">Flight:</label>
                <input type="text" name="flight"/><br />

                <label for="airline">Airline:</label>
                <input type="text" name="airline" /><br />

                <label for="cost">Cost:</label>
                <input type="text" name="cost" /><br />

                <label for="name">Name:</label>
                <input type="text" name="name" /><br />

                <label for="citizenship">Citizenship:</label>
                <input type="text" name="citizenship" /><br />

                <label for="status">Status:</label>
                <select name="status">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>

                <button>Reserve</button>
            </form>            
        </div>
    </div>
    <div class="flightfinder">
        <h3>Flight Finder</h3>
        <form>
            <label for="code">Code:</label>
            <input type="text" name="code" /><br />

            <label for="airline">Airline:</label>
            <input type="text" name="airline" /><br />

            <label for="name">Name:</label>
            <input type="text" name="name" /><br />

            <button>Find Reservations</button>
        </form>
    </div>
</div>
@code {

}
